@charset "UTF-8";

body {
    background-color: rgb(223, 250, 182);
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    color: green ;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(126, 206, 7);
}